{% embed "helper/paginationContainer.twig" %}
    {% block listEmpty %}
        <p align="center">No collaborators</p>
    {% endblock %}
    {% block list %}
        <table class="table table-hover table-striped" style="margin-bottom: 10px">
            <thead>
            <tr>
                <th style="width: 30px"></th>
                <th colspan="2">User</th>
                <th style="width: 150px">Role</th>
                <th style="width: 280px">
                    <div class="pull-right">Options</div>
                </th>
            </tr>
            </thead>
            <tbody class="pagination-container-body">
            {% for coll in paginator %}
                <tr ng-class="{ 'info': checked{{ coll.id }} }" ng-click="checked{{ coll.id }} = !checked{{ coll.id }}">
                    <td><input type="checkbox" value="{{ coll.id }}" ng-model="checked{{ coll.id }}" name="selected-collaboration[]" /></td>
                    <td>
                        <i class="fa fa-user"></i>
                        <a href="{{ userUrl(coll.user) }}">
                            {{ coll.user.username }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ userUrl(coll.user) }}">
                            {{ coll.user.fullname }}
                        </a>
                    </td>
                    <td>{{ coll.role }}</td>
                    <td>
                        <span class="pull-right">
                            {% if acl.isAllowed(me, camp, 'configure') %}
                                <a  async-modal
                                    href="{{ url(
                                       'web/camp/default',
                                       { 'camp': camp, 'controller': 'Collaborations', 'action': 'edit' },
                                       { 'query': { 'user': coll.user.id } }
                                       )
                                    }}"
                                    class="btn btn-xs btn-primary"
                                >
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            {% endif %}

                            <camp-collaboration camp="{{ coll.camp.id }}" user="{{ coll.user.id }}">
                                <camp-collaboration-operation size="xs"></camp-collaboration-operation>
                            </camp-collaboration>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
