<div class="row">
	<center ng-show="isLoading">
		<div id="fountainG" style="margin: 31.5px;">
			<div id="fountainG_1" class="fountainG">
			</div>
			<div id="fountainG_2" class="fountainG">
			</div>
			<div id="fountainG_3" class="fountainG">
			</div>
			<div id="fountainG_4" class="fountainG">
			</div>
			<div id="fountainG_5" class="fountainG">
			</div>
			<div id="fountainG_6" class="fountainG">
			</div>
			<div id="fountainG_7" class="fountainG">
			</div>
			<div id="fountainG_8" class="fountainG">
			</div>
		</div>
	</center>

	<div ng-show="numberOfPages == 0">
		<p align="center">{% block empty_text %}{% endblock %}</p>
	</div>

	<div class="col-sm-12" ng-hide="isLoading || numberOfPages == 0">
		<table class="table table-hover table-stripped">
			<thead>
				<tr>
					<th colspan="2">User</th>
					<th>Role</th>
					<th><span class="pull-right">Options</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
{% verbatim %}
					<td><i class="fa fa-user"></i> {{ item._embedded.user.username }}</td>
					<td>{{ item._embedded.user.fullname }}</td>
					<td>{{ item.role }}</td>
{% endverbatim %}
					<td>
						<span class="pull-right">
						{% if acl.isAllowed(me, camp, 'configure') %}
							<a 	data-toggle="modal"
								data-backdrop="true"
								data-target="#asyncform-container"
								href="{{ editCollaborationBaseUrl }}{% verbatim %}{{ item._embedded.user.id }}{% endverbatim %}"
								class="btn btn-xs"
							>
								<i class="fa fa-edit"></i>
							</a>
						{% endif %}

						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
