<div class="paginatorContainer">
    <input type="hidden" class="hide-paginator-event" value="collaboration.collaborators.changed.pre" />
    <input type="hidden" class="show-paginator-event" value="collaboration.collaborators.changed.post" />
    <input type="hidden" class="refresh-paginator-event" value="collaboration.collaborators.changed" />

    <a class="refresh-url" href="{{ url(
        'web/camp/default',
        { 'camp': camp, 'controller': 'Collaborations', 'action': 'collaborations' },
        { 'query': { 'page': paginator.pages.current } }) }}"
    ></a>

    {% if paginator.count == 0 %}
        <p align="center">No collaborators</p>

    {% else %}
        <table class="table table-hover table-striped" style="margin-bottom: 10px">
            <thead>
                <tr>
                    <th style="width: 30px"></th>
                    <th colspan="2">User</th>
                    <th style="width: 25%">Role</th>
                    <th style="width: 75px">
                        <div class="pull-right">Options</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for coll in paginator %}
                    <tr>
                        <td><input type="checkbox" value="{{ coll.id }}" name="selected-collaboration[]" /></td>
                        <td>
                            <i class="fa fa-user"></i>
                            <a href="{{ userUrl(coll.user) }}">
                                {{ coll.user.username }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ userUrl(coll.user) }}">
                                {{ coll.user.fullname }}
                            </a>
                        </td>
                        <td>{{ coll.role }}</td>
                        <td>
                            <span class="pull-right">
                                {{ collaboration(coll, 'xs') }}
                                {% if acl.isAllowed(me, camp, 'configure') %}
                                    <a 	data-toggle="modal"
                                          data-backdrop="true"
                                          data-target="#asyncform-container"
                                          href="{{ url(
                                                'web/camp/default',
                                                { 'camp': camp, 'controller': 'Collaborations', 'action': 'edit' },
                                                { 'query': { 'user': coll.user.id } }
                                          ) }}"
                                          class="btn btn-xs btn-primary"
                                    >
                                        <i class="fa fa-edit"></i> Edit
                                    </a>

                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {% if paginator.pages.pageCount > 1 %}

                <ul class="pagination pagination-sm pull-right" style="margin: 0px 0px 10px 0px">
                    {% if paginator.pages.previous %}
                        <li>
                            <a  href="{{ url(
                                    'web/camp/default',
                                    { 'camp': camp, 'controller': 'Collaborations', 'action': 'collaborations' },
                                    { 'query': { 'page': paginator.pages.previous } }) }}"
                                class="nav-link"
                            >
                                &laquo;
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>&laquo;</span>
                        </li>
                    {% endif %}

                    <li class="disabled">

                        <span style="width: 70px; text-align: center">
                            <div class="spinner" style="display: none">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <div class="page-info">
                                {{ paginator.pages.current }} / {{ paginator.pages.pageCount }}
                            </div>
                        </span>
                    </li>

                    {% if paginator.pages.next %}
                        <li>
                            <a  href="{{ url(
                                    'web/camp/default',
                                    { 'camp': camp, 'controller': 'Collaborations', 'action': 'collaborations' },
                                    { 'query': { 'page': paginator.pages.next } }) }}"
                                class="nav-link"
                            >
                                &raquo;
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
    {% endif %}
</div>
