<div class="row">
	<center ng-show="isLoading">
		<div id="fountainG" style="margin: 31.5px;">
			<div id="fountainG_1" class="fountainG">
			</div>
			<div id="fountainG_2" class="fountainG">
			</div>
			<div id="fountainG_3" class="fountainG">
			</div>
			<div id="fountainG_4" class="fountainG">
			</div>
			<div id="fountainG_5" class="fountainG">
			</div>
			<div id="fountainG_6" class="fountainG">
			</div>
			<div id="fountainG_7" class="fountainG">
			</div>
			<div id="fountainG_8" class="fountainG">
			</div>
		</div>
	</center>

	<div class="col-sm-12" ng-hide="isLoading">
		<table class="table table-hover table-stripped">
			<thead>
				<tr>
					<th colspan="2">User</th>
					<th>Role</th>
					<th>
						{% if acl.isAllowed(me, camp, 'configure') %}
						<span class="pull-right">
							<a 	class="btn btn-xs btn-success"
								href="{{ url('web/camp/default',
										{'camp': camp, 'controller': 'Collaborations', 'action': 'search' })
										}}">
								<i class="fa fa-plus"></i> Send invitation
							</a>
						</span>
						{% endif %}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
{% verbatim %}
					<td><i class="fa fa-user"></i> {{ item._embedded.user.username }}</td>
					<td>{{ item._embedded.user.fullname }}</td>
					<td>{{ item.role }}</td>
{% endverbatim %}
					<td>
						<span class="pull-right">
						{% if acl.isAllowed(me, camp, 'configure') %}
							<a
								class="btn btn-xs btn-danger"
								href="{{ revokeInvitationBaseUrl }}{% verbatim %}{{ item._embedded.user.id }}{% endverbatim %}"
							>
								<i class="fa fa-remove"></i> Revoke
							</a>
						{% endif %}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
