{% embed "helper/paginationContainer.twig" %}
    {% block listEmpty %}
        <p align="center">No open invitations</p>
    {% endblock %}
    {% block list %}
        <table class="table table-hover table-striped" style="margin-bottom: 10px">
            <thead>
            <tr>
                <th style="width: 30px"></th>
                <th colspan="2">User</th>
                <th style="width: 150px">Role</th>
                <th style="width: 280px">
                    <div class="pull-right">Options</div>
                </th>
            </tr>
            </thead>
            <tbody class="pagination-container-body">
            {% for coll in paginator %}
                <tr>
                    <td><input type="checkbox" name="selected::{{ coll.id }}" /></td>
                    <td>
                        <i class="fa fa-user"></i>
                        <a href="{{ userUrl(coll.user) }}">
                            {{ coll.user.username }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ userUrl(coll.user) }}">
                            {{ coll.user.fullname }}
                        </a>
                    </td>
                    <td>{{ coll.role }}</td>
                    <td>
                        <span class="pull-right">
                            {{ collaboration(coll, 'xs') }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
