{% embed "helper/paginationContainer.twig" %}
    {% block listEmpty %}
        <p align="center">No open requests</p>
    {% endblock %}
    {% block list %}
        <table class="table table-hover table-striped" style="margin-bottom: 10px">
            <thead>
            <tr>
                <th style="width: 30px"></th>
                <th colspan="2">User</th>
                <th style="width: 150px">Role</th>
                <th style="width: 280px">
                    <div class="pull-right">Options</div>
                </th>
            </tr>
            </thead>
            <tbody class="pagination-container-body">
            {% for member in paginator %}
                <tr>
                    <td><input type="checkbox" name="selected::{{ member.id }}" /></td>
                    <td>
                        <i class="fa fa-user"></i>
                        <a href="{{ userUrl(member.user) }}">
                            {{ member.user.username }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ userUrl(member.user) }}">
                            {{ member.user.fullname }}
                        </a>
                    </td>
                    <td>{{ member.role }}</td>
                    <td>
                        <span class="pull-right">
                            {{ membership(member, 'xs') }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}


{#
<div class="paginatorContainer">
    <input type="hidden" class="hide-paginator-event" value="membership.requests.changed.pre" />
    <input type="hidden" class="show-paginator-event" value="membership.requests.changed.post" />
    <input type="hidden" class="refresh-paginator-event" value="membership.requests.changed" />

    <a class="refresh-url" href="{{ url(
        'web/group-prefix/name/default',
        { 'group': group, 'controller': 'Members', 'action': 'requests' },
        { 'query': { 'page': paginator.pages.current } }) }}"
    ></a>

    {% if paginator.count == 0 %}
        <p align="center">No open requests</p>

    {% else %}
        <table class="table table-hover table-striped" style="margin-bottom: 10px">
            <thead>
                <tr>
                    <th style="width: 30px"></th>
                    <th colspan="2">User</th>
                    <th >Role</th>
                    <th style="width: 300px">
                        <div class="pull-right">Options</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for member in paginator %}
                    <tr>
                        <td><input type="checkbox" name="selected::{{ member.id }}" /></td>
                        <td>
                            <i class="fa fa-user"></i>
                            <a href="{{ userUrl(member.user) }}">
                                {{ member.user.username }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ userUrl(member.user) }}">
                                {{ member.user.fullname }}
                            </a>
                        </td>
                        <td>{{ member.role }}</td>
                        <td>
                            <span class="pull-right">
                                {{ membership(member, 'xs') }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if paginator.pages.pageCount > 1 %}
        <ul class="pagination pagination-sm pull-right" style="margin: 0px 0px 10px 0px">
            {% if paginator.pages.previous %}
                <li>
                    <a  href="{{ url(
                    'web/group-prefix/name/default',
                    { 'group': group, 'controller': 'Members', 'action': 'requests' },
                    { 'query': { 'page': paginator.pages.previous } }) }}"
                        class="nav-link"
                            >
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>&laquo;</span>
                </li>
            {% endif %}

            <li class="disabled">

                <span style="width: 70px; text-align: center">
                    <div class="spinner" style="display: none">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="page-info">
                        {{ paginator.pages.current }} / {{ paginator.pages.pageCount }}
                    </div>
                </span>
            </li>

            {% if paginator.pages.next %}
                <li>
                    <a  href="{{ url(
                    'web/group-prefix/name/default',
                    { 'group': group, 'controller': 'Members', 'action': 'requests' },
                    { 'query': { 'page': paginator.pages.next } }) }}"
                        class="nav-link"
                            >
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>&raquo;</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
#}
