{% extends 'ecamp-web/camp/camp.twig' %}

{% block content2 %}

	<h1>
		{{ eventCategory.short }}: {{ event.title }}
	
		<div class="pull-right">
			<button type="button" class="btn btn-primary">Print</button>
			
			<div class="btn-group addPluginDropdown">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	Add Plugin <span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu pull-right" role="menu" style="width: 300px">
					{% for eventTemplateContainer in eventTemplate.eventTemplateContainers %}
			    		{% set eventTypePlugin = eventTemplateContainer.eventTypePlugin %}
			    		<li class="{{ eventTypePlugin.getCountPluginInstances(event) >= eventTypePlugin.maxNumberPluginInstances ? 'disabled' : '' }}">
			    			<a href="#{{ eventTemplateContainer.id }}">
			    				{{ eventTypePlugin.plugin.name }}
			    				<div class="pull-right eventPluginCountInfo"></div>
			    			</a>
			    		</li>

			    	{% endfor %}
			  	</ul>
			</div>
		</div>
	</h1>

	<script>
		$(function(){
			var pluginDropdown = $('div.addPluginDropdown');
			var pluginDropdownButton = pluginDropdown.find('button.dropdown-toggle');
			var isDropdownInitialized = false;
			pluginDropdownButton.click(updateDropdown);



			function updateDropdown(){
				if(!isDropdownInitialized){
					initDropdown();
				}

				pluginDropdown.find('li').each(function(idx, item){
					$(item).data('$updateFunction')();
				});
			}

			function initDropdown(){
				pluginDropdown.find('li').each(function(idx, item){
					var li = $(item);
					var eventTemplateContainer = $(li.find('a').attr('href'));
					var eventTemplateContainerController = eventTemplateContainer.data('$eventTemplateContainerController');

					if(eventTemplateContainerController == undefined){
						console.log('eventTemplateContainerController of ' + li.text().trim() + ' not found!');
						li.remove();
					} else {
						li.find('a').click(function(){
							var maxNumEventPlugins = eventTemplateContainerController.getMaxNumEventPlugin();
							var currentNumEventPlugins = eventTemplateContainerController.getCountNumEventPlugin();
							if(currentNumEventPlugins < maxNumEventPlugins){
								eventTemplateContainerController.createEventPlugin();
							}
						});

						li.data('$updateFunction', function(){
							var minNumEventPlugins = eventTemplateContainerController.getMinNumEventPlugin();
							var maxNumEventPlugins = eventTemplateContainerController.getMaxNumEventPlugin();
							var currentNumEventPlugins = eventTemplateContainerController.getCountNumEventPlugin();
							li.find('div.eventPluginCountInfo').text(
								currentNumEventPlugins + " von " + minNumEventPlugins + " - " + maxNumEventPlugins);

							if(currentNumEventPlugins >= maxNumEventPlugins){
								li.addClass('disabled');
							} else {
								li.removeClass('disabled');
							}
						});
					}
				});
				isDropdownInitialized = true;
			}
		});
	</script>

	<div class="row">
		<div class="col-xs-12">
			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Infos
				{% endblock %}
				{% block panel_content %}
					<div class="row">
						<div class="col-sm-8">
							<h4>Instances:</h4>
							<table class="table table-striped table-hover" style="width: 100%">
								<tbody>
									{% for eventInstance in event.eventInstances %}
										<tr>
											<td>
												{{ eventInstance.getEventNumber() }}
											</td>
											<td>
												{{ eventInstance.getDateRange() }}
											</td>
											<td>
												{{ eventInstance.getStarttime() | date('H') }}<sup><small>{{ eventInstance.getStarttime() | date('i') }}</small></sup>
												-
												{{ eventInstance.getEndtime() | date('H') }}<sup><small>{{ eventInstance.getEndtime() | date('i') }}</small></sup>

											</td>
											<td>{{ eventInstance.getPeriod().getDescription() }}</td>

											<td style="padding: 2px 8px">
												<div class="btn-group pull-right">
												<!--
													<a class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> Event</a>
												 -->
													<a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
														Options <span class="caret"></span>
													</a>
													<ul class="dropdown-menu pull-right" role="menu">
														<li><a href="#"><i class="fa fa-clock-o" style="margin-left: 2px; margin-right: 9px"></i> Move</a></li>
														<li><a href="#"><i class="fa fa-copy" style="margin-left: 1px; margin-right: 7px"></i> Copy / Split</a></li>
														<li><a href="#"><i class="fa fa-trash-o"  style="margin-left: 3px; margin-right: 9px"></i> Delete</a></li>
													</ul>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="col-sm-4">
							<h4>Responsables:</h4>
							{% include 'ecamp-web/event-templates/base/event-resp-select.twig' %}
						</div>
					</div>
				{% endblock %}
			{% endembed %}
		</div>

	</div>

	{% block eventTemplateContent %}{{ eventTemplateContent|raw }}{% endblock eventTemplateContent %}

{% endblock %}
