<div class="item row" id="{{ 'item-' ~ item.id }}">
	<div name="show">
			<div class="col-md-2 edit-target">
				{{ item.getQuantity }}
			</div>
			<div class="col-md-5 edit-target">
				{{ item.getText }}
			</div>
			<div class="col-md-3 edit-target">
				{% for list in item.getLists %}
					{{ list.getName }}
					{%  if not loop.last %}, {% endif %}
				{%  endfor %}
			</div>
			<div class="col-md-2">
				<div style="text-align: right;">
					{% include 'plugin/item-actions' with {'pluginName': 'material', 'movable':false} %}
				</div>
			</div>
	</div>

	<div name="edit">
		<form
		   method="POST"
		   action="{{
			url('plugin/material/default', {
				'eventPluginId': eventPlugin.id,
				'controller': 'item',
				'action': 'save',
				'id': item.id
			} )}}"
		>
			{% include 'ecamp-material/item-form' %}

			<div class="col-md-2 pull-right" style="margin-top: 10px; text-align: right;">
				<a href="#" class="submit saveItem btn btn-xs btn-success"><i class="fa fa-check"></i> Save</a>
				<a href="#" class="cancel cancelItem btn btn-xs btn-danger"><i class="fa fa-times"></i> Cancel</a>
			</div>
		</form>
	</div>
</div>
