<script src="/typeahead.js/typeahead.bundle.js"></script>

<table class="table" id="material-items">
	<thead>
		<tr>
			<th class="col-md-2">
				<b>Quantity</b>
			</th>
			<th class="col-md-5">
				<b>Article</b>
			</th>
			<th class="col-md-3">
				<b>Material Lists</b>
			</th>
			<th class="col-md-1">

			</th>
		</tr>
	</thead>

<ul style="list-style: none; padding: 0px;">
	{% for item in items %}
		{% include 'ecamp-material/item' %}
	{% endfor %}
</ul>

	<tr class="empty"></tr>

</table>

<div class="row" name="add">
		<form method="POST" action="{{
			url('plugin/material/default', {
				'eventPluginId': eventPlugin.id,
				'controller': 'item',
				'action': 'create'
			} )}}"
		>
			<div class="col-md-2">
				<input name="quantity" id="quantity" class="form-element form-control" type="text" />
			</div>
			<div class="col-md-5">
				<input name="text" id="text" class="form-element form-control typeahead" type="text" />
			</div>

			<div class="col-md-3">
				<select
					class="form-element form-control selectpicker show-tick"
					multiple title="-"
					data-width="100%"
					name="list_id[]"
					id="list-id"
				>
					{% for list in lists %}
							<option value="{{ list.id }}">
								{{ list.getName }}
							</option>
					{% endfor %}
				</select>

			</div>
			<div class="col-md-1" >
				<a href="#" class="submit btn btn-xs btn-success"><i class="fa fa-check"></i> Add</a>
			</div>
		</form>
	</div>

<script type="text/javascript">
	$(function(){
		var eventPluginElm = $('#{{eventPlugin.id}}');
		var addElm  = eventPluginElm.find('div[name=add]');

		var addFunc = function(){
			var form = addElm.find('form');

			$.ajax({
	            type: form.attr('method'),
	            url: form.attr('action'),
	            data: form.serialize(),

	            // prevents global error handling, errors handled locally
	            global: false,

	            statusCode: {
					200: function(data, statusText, request){
						var respElm = $(data);
						eventPluginElm.find('#material-items').append(respElm);
						form[0].reset();
					},

				    500: function(data, status){
				    	console.log(data);
					}
				}
	        });
		};

		addElm.find('a.submit').click(addFunc);
		addElm.find('select.selectpicker').selectpicker();
	});
</script>


<script>
$(document).ready(function() {

	var materialDictionary = new Bloodhound({
	  datumTokenizer:  function(d) {
	      return Bloodhound.tokenizers.whitespace(d.text);
	  },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  prefetch: '{{
			url('plugin/material/dictionary', {
				'eventPluginId': eventPlugin.id
			} )}}',
	  remote: {
		  url: '{{
			url('plugin/material/dictionary', {
				'eventPluginId': eventPlugin.id,
				'query': 'QUERY'
			} )}}',
			wildcard:'QUERY'
	  }
	});

	materialDictionary.initialize();

	$('#{{eventPlugin.id}} .typeahead').typeahead(null, {
	  name: 'materialDictionary',
	  displayKey: 'text',
	  source: materialDictionary.ttAdapter()
	});

});
</script>
