{% extends 'e-camp/web-layout/layout.base.twig' %}

{% block layout_header %}
    {% include 'e-camp/web-header/camps.twig' %}
{% endblock %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Übersicht über alle meine Lager
            </div>
        </div>

        <div class="row">
            {% for camp in camps %}
                <div class="col-md-12 col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <div class="col-xs-8">
                                <i class="zmdi zmdi-hc-fw zmdi-flag"></i>
                                {{ camp.name }}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control form-control-sm" id="title" value="{{ camp.name }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 2px">
                                <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Title:</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control form-control-sm" id="title" value="{{ camp.title }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 2px">
                                <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Motto:</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control form-control-sm" id="title" value="{{ camp.motto }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 2px">
                                <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Camp-Type:</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control form-control-sm" id="title" value="{{ camp.campType.name }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 2px">
                                <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Owner:</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control form-control-sm" id="title" value="{{ camp.owner.displayName }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-sm-12 text-right">
                                    <a  href="{{ url('ecamp.web/camp', { camp: camp }) }}"
                                        class="btn btn-sm btn-success"
                                        style="width: 45%;"
                                    >
                                        <i class="zmdi zmdi-arrow-right-top"></i> &nbsp;
                                        Open
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
