<div class="edit-collaboration-container">
    <div class="btn-group">
        <a  class="btn btn-{{ size }} btn-danger"
            data-toggle="modal"
            href="#rejectInvitationModal-{{ collaboration.camp.id }}-{{ collaboration.user.id }}"
        >
            <b>Reject invitation</b>
        </a>
        <a  class="btn btn-{{ size }} btn-success accept-invitation"
            href="{{ url('web/camp/default',
                        { 'camp': collaboration.camp, 'controller': 'CollaborationHelper', 'action': 'acceptInvitation' },
                        { 'query': { 'user': collaboration.user.id, 'size': size } }) }}"
        >
            <b>Accept invitation</b>
        </a>
    </div>

    <!-- add loading spinner -->


    <div id="rejectInvitationModal-{{ collaboration.camp.id }}-{{ collaboration.user.id }}"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="rejectInvitationModalLabel"
         aria-hidden="true"
            >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Reject invitation to camp {{ collaboration.camp.name }}</h4>
                </div>
                <div class="modal-body">
                    Are you sure, you want to reject invitation to camp {{ collaboration.camp.name }}?
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="btn-group col-xs-12">
                            <a  class="btn btn-danger col-xs-6 reject-invitation"
                                data-dismiss="modal"
                                href="{{ url('web/camp/default',
                                            { 'camp': collaboration.camp, 'controller': 'CollaborationHelper', 'action': 'rejectInvitation' },
                                            { 'query': { 'user': collaboration.user.id, 'size': size } }) }}"
                                    >
                                Reject invitation
                            </a>
                            <button type="button" class="btn btn-default col-xs-6" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
