{% extends 'ecamp-web/group/group.twig' %}

{% block ng_app %}ecamp-group-index{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ basePath('/vendor-assets/js/uri.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/js/uri.template.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/js/angular.hal.js') }}"></script>

    <script type="text/javascript" src="{{ basePath('/web-assets/js/group/membership.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/ajax-form-element.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/modal-form.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/ajax-form-element.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/ng-paginator.js') }}"></script>

    <script type="text/javascript">
        (function(){
            angular.module('ecamp-group-index', [
                'ecamp-modal-form',
                'ecamp-ajax-form-element',
                'ecamp-paginator',
                'ecamp-membership'
            ]);
        })();
    </script>
{% endblock %}



{% block content %}

	<div class="row">
		<div class="col-sm-7">
			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Infos
				{% endblock %}
				{% block panel_content %}
                    <form class="form-horizontal form-show" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="group-name">Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ group.name }}</p>
                            </div>
                        </div>

                        <ajax-form action="{{ url('api/groups', {'group': group.id} ) }}">
                            <div class="form-group has-feedback ajax-form-element">
                                <label class="col-sm-3 control-label" for="group-description">Description:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="group-description" name="description" value="{{ group.description }}">
                                    <span class="form-control-feedback feedback-container"></span>
                                </div>
                            </div>
                        </ajax-form>
                    </form>
				{% endblock %}
			{% endembed %}
		</div>
        <div class="col-sm-5">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    My membership
                {% endblock %}
                {% block panel_content %}
                    <div style="margin-bottom: 10px">
                        <group-membership group="{{ group.id }}" user="{{ me.id }}">
                            <group-membership-description></group-membership-description>
                            <div class="clear-fix"></div>
                            <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px">
                                <group-membership-operation size="sm" spinner="left"></group-membership-operation>
                                <div class="clear-fix"></div>
                            </div>
                        </group-membership>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
	</div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Subgroups
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/group/index/subgroups.twig' with { 'paginator': subgroupsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Upcoming camps
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/group/index/upcoming-camps.twig' with { 'paginator': upcomingCampsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
