{% extends 'ecamp-web/group/group.twig' %}

{% block ng_app %}ecamp-group-index{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ basePath('/vendor-assets/js/uri.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/js/uri.template.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/js/angular.hal.js') }}"></script>

    <script type="text/javascript" src="{{ basePath('/web-assets/js/group/membership.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/ajax-form-element.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/modal-form.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/web-assets/js/ng-paginator.js') }}"></script>

    <script type="text/javascript">
        (function(){
            angular.module('ecamp-group-index', [
                'ecamp-modal-form',
                'ecamp-paginator',
                'ecamp-membership'
            ]);
        })();
    </script>
{% endblock %}



{% block content %}

	<div class="row">
		<div class="col-sm-7">
			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Infos
				{% endblock %}
				{% block panel_content %}
                    <form class="form-horizontal form-show" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="group-name">Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ group.name }}</p>
                            </div>
                        </div>

                        <div class="form-group has-feedback ajax-form-element orig"
                             data-backend="{{ url('api/groups', {'group': group.id } ) }}"
                                >
                            <label class="col-sm-3 control-label" for="group-description">Description:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="group-description" name="description" value="{{ group.description }}">
                                <span class="form-control-feedback feedback-container"></span>
                            </div>
                        </div>
                    </form>
				{% endblock %}
			{% endembed %}
		</div>
        <div class="col-sm-5">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    My membership
                {% endblock %}
                {% block panel_content %}
                    <div style="margin-bottom: 10px">
                        <group-membership group="{{ group.id }}" user="{{ me.id }}">
                            <group-membership-description></group-membership-description>
                            <div class="clear-fix"></div>
                            <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px">
                                <group-membership-operation size="sm" spinner="left"></group-membership-operation>
                                <div class="clear-fix"></div>
                            </div>
                        </group-membership>
                    </div>
{#
                    {% if myMembership is not null %}
                        <p>
                            {% if myMembership.getStatus == 'requested' %}
                                You have requested membership in this group
                            {% endif %}

                            {% if myMembership.getStatus == 'invited' %}
                                You have been invited to this group
                            {% endif %}

                            {% if myMembership.getStatus == 'established' %}
                                You are {{ myMembership.getRole }} in this group
                            {% endif %}
                        </p>
                    {% endif %}

                    <div class="pull-right">
                        <p>
                            {{ membership(group, 'sm') }}
                        </p>
                    </div>
#}
                    {#
                    <div class="modal fade" id="leaveGroupModal" tabindex="-1" role="dialog" aria-labelledby="leaveGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Leave group {{ group.getName }}</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure, you want to leave group {{ group.getName }}?
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger"
                                       href="{{ url('web/group-prefix/name/default',
                                       { 'group': group, 'controller': 'index', 'action': 'leaveGroup'}
                                       ) }}"
                                            >
                                        Leave group
                                    </a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Stay in group</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    #}
                {% endblock %}
            {% endembed %}
        </div>
	</div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Subgroups
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/group/index/subgroups.twig' with { 'paginator': subgroupsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Upcoming camps
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/group/index/upcoming-camps.twig' with { 'paginator': upcomingCampsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>




    {#
	<div class="row">
		<div class="col-sm-6" {{ subgroupPaginator.getNgController|raw }}>

			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Subgroups <p class="pull-right">{{ subgroupPaginator.count }}</p>
				{% endblock %}
				{% block panel_content %}
					{% verbatim %}
						<div class="row">
							<div ng-show="numberOfPages == 0">
								<p align="center">No subgroups</p>
							</div>
							<div class="col-xs-12 col-sm-6" ng-repeat="item in items">
								<a 	href="{{item._links.web.href}}"
									class="btn btn-default col-xs-12"
									style="cursor: pointer; margin-bottom: 15px">
									<table style="margin: 0px; padding: 0px; width: 100%">
										<tr>
											<td style="width: 50px">
												<img style="width: 40px"
													 src="https://cdn3.iconfinder.com/data/icons/glyph/227/Public-256.png" />
											</td>
											<td style="text-align: left">
												<h5 style="display: inline">{{item.name}}</h5>
												<p>{{item.description}}</p>
											</td>
										</tr>
									</table>
								</a>
							</div>
						</div>
					{% endverbatim %}

					<div class="row" ng-show="numberOfPages > 1">
						<div class="col-sm-12" style="text-align: center">
							{% include 'helper/paginationLinks.twig' %}
						</div>
					</div>
				{% endblock %}
			{% endembed %}
		</div>


		<div class="col-sm-6" {{ campsPaginator.getNgController|raw }}>

			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Upcoming camps <p class="pull-right">{{ campsPaginator.getCount }}</p>
				{% endblock %}
				{% block panel_content %}
					{% verbatim %}
						<div class="row">
							<div ng-show="numberOfPages == 0">
								<p align="center">No upcuming camps</p>
							</div>

							<div class="col-xs-12 col-sm-6" ng-repeat="item in items">
								<a 	href="{{item._links.web.href}}"
									class="btn btn-default col-xs-12"
									style="cursor: pointer; margin-bottom: 15px">
									<table style="margin: 0px; padding: 0px; width: 100%">
										<tr>
											<td style="width: 50px">
												<img style="width: 40px"
													 src="https://cdn3.iconfinder.com/data/icons/glyph/227/Public-256.png" />
											</td>
											<td style="text-align: left">
												<h5 style="display: inline">{{item.name}}</h5>
												<p>{{item.description}}</p>
											</td>
										</tr>
									</table>
								</a>
							</div>
						</div>
					{% endverbatim %}

					<div class="row" ng-show="numberOfPages > 1">
						<div class="col-sm-12" style="text-align: center">
							{% include 'helper/paginationLinks.twig' %}
						</div>
					</div>
				{% endblock %}
			{% endembed %}
		</div>

	</div>
    #}
{% endblock %}
