{{ docType() }}
<html ng-app="eCamp3">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block meta %}{% endblock meta %}

        {% block title %}
        	<title>eCamp V3</title>
        {% endblock title %}


        <!-- Stylesheets -->
        {% if config.cdn %}
			<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
			<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
			<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

			<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.2/select2.css" />

			<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css' />
			<link href='https://raw.github.com/jharding/typeahead.js-bootstrap.css/master/typeahead.js-bootstrap.css' rel='stylesheet' type='text/css' />
		{% else %}
			<link href="{{ request.getBasePath }}/css/localcdn/bootstrap.min.css" rel="stylesheet" />
			<link href="{{ request.getBasePath }}/css/localcdn/bootstrap.no-icons.min.css" rel="stylesheet">
			<link href="{{ request.getBasePath }}/css/localcdn/font-awesome.min.css" rel="stylesheet">

			<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/css/localcdn/select2.css" />

			<link href='{{ request.getBasePath }}/css/localcdn/css-walter-turncoat.css' rel='stylesheet' type='text/css' />
			<link href='{{ request.getBasePath }}/css/localcdn/typeahead.js-bootstrap.css' rel='stylesheet' type='text/css' />
		{% endif %}

		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/css/ajaxLoader.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/css/default.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/css/searchbox.css" />

        {% block style %}{% endblock style %}


        <!-- Scripts -->
        {% if config.cdn %}
	        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
			<script src="//twitter.github.io/typeahead.js/releases/latest/typeahead.min.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/select2/3.4.2/select2.js"></script>
		{% else %}
			<script src="{{ request.getBasePath }}/js/localcdn/jquery.min.js"></script>
			<script src="{{ request.getBasePath }}/js/localcdn/jquery-ui.min.js"></script>
			<script src="{{ request.getBasePath }}/js/localcdn/angular.min.js"></script>
			<script src="{{ request.getBasePath }}/js/localcdn/angular-resource.min.js"></script>
			<script src="{{ request.getBasePath }}/js/localcdn/bootstrap.min.js"></script>
			<script src="{{ request.getBasePath }}/js/localcdn/latest/typeahead.min.js"></script>
			<script type="text/javascript" src="{{ request.getBasePath }}/js/localcdn/select2.js"></script>
		{% endif %}

		<!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->

		{{ headScript() }}

		<script type="text/javascript">

			angular.module('eCamp3', ['ngResource']);

			$(function(){
				$("div.search-box input[type='text']").typeahead({
				  name: 'accounts',
				  local: ['timtrueman', 'JakeHarding', 'vskarich'],
				  header: '<h3 class="league-name">NBA Teams</h3>'
				});

				$("div.search-box input[type='text']")
					.focus(function(){
						 //$('div.search-box').switchClass('col-sm-9 col-md-7 col-lg-6', 'col-sm-12 col-md-12 col-lg-12', 300);
						 //$('div.search-box .input-group-btn').addClass('open', 300);
					});

				$("div.search-box input[type='text']")
					.blur(function(){
						//$('div.search-box').switchClass('col-sm-12 col-md-12 col-lg-12', 'col-sm-9 col-md-7 col-lg-6', 300);
						//$('div.search-box .input-group-btn').removeClass('open', 300);
					});

				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();

				$('select.select2').select2({minimumResultsForSearch: 3});

				var keyQueue = null;
				$("body").keydown(function(event){
					if(event.which == 77){
						keyQueue = 77;
					} else if (keyQueue == 77 && event.which == 65){
						keyQueue = 7765;
					} else if (keyQueue == 7765 && event.which == 80){
						$('body div.transpLayer').addClass('transp');
					} else {
						keyQueue = null;
						$('body div.transpLayer').removeClass('transp');
					}
				});
			});

		</script>

        {% block script %}{% endblock script %}

    </head>
    <body>
    	<div class="bgimage"></div>

    	<div class="fade modal" id="asyncform-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    	<!--
    	 <div class="transpLayer">
    	 -->

    	 <div >
    		<section class="container white" style="margin-top: -8px; padding-top: 5px; ">
				<div class="row">
					<div class="col-sm-4 col-sm-push-8 col-md-5 col-md-push-7">
						<div class="row">
							<div class="col-xs-12">
								<div class="btn-group pull-right" style="margin-bottom: 8px">
									<a 	class="btn btn-sm btn-primary"
										href="{{ url('web') }}">
										<i class="icon-home"></i> Dashboard
									</a>
									<a 	class="btn btn-sm btn-primary hidden-xs hidden-sm"
										href="#">
										<i class="icon-user"></i> Users
									<a class="btn btn-sm btn-primary hidden-xs hidden-sm">
										<i class="icon-flag"></i> Groups
									</a>
									<a class="btn btn-sm btn-primary hidden-xs hidden-sm">
										<i class="icon-bell"></i> Camps
									</a>

									<a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
										&nbsp;<i class="icon-caret-down"></i>&nbsp;
									</a>
									<ul class="dropdown-menu pull-right" role="menu">
									    <li class="hidden-md hidden-lg">
									    	<a href="#"><span class="icon-user"></span>&nbsp;&nbsp; Users</a>
									    </li>
									    <li class="hidden-md hidden-lg">
									    	<a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; Groups</a>
									    </li>
									    <li class="hidden-md hidden-lg">
									    	<a href="#"><span class="icon-bell"></span>&nbsp;&nbsp; Camps</a>
									    </li>
									    <li class="hidden-md hidden-lg divider"></li>

									    <li>
									    	<a href="#">
									    		<span class="icon-user"></span>&nbsp;&nbsp; {{ me.getUsername }}
									    	</a>
									    </li>
									    <li>
									    	<a href="#"><span class="icon-inbox"></span>&nbsp;&nbsp; Inbox</a>
									    </li>
									    <li>
									    	<a href="#"><span class="icon-cog"></span>&nbsp;&nbsp; Options</a>
									    </li>
									    <li class="divider"></li>
									    <li>
									    	<a href="#"><span class="icon-off"></span>&nbsp;&nbsp; Abmelden</a>
									    </li>
									</ul>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="search-box pull-right" style="padding-right: 15px;">
								<input type="text" class="typeahead" placeholder="Search" />
							</div>
						</div>

					</div>
					<div class="col-sm-8 col-sm-pull-4 col-md-7 col-md-pull-5">
						{% block header %}{{ header|raw }}{% endblock header %}
					</div>
				</div>

 				<hr style="margin-top: 10px; margin-bottom: 5px;" />

				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb" style="margin-bottom:0px; padding: 0px 5px; background-color: rgba(0,0,0,0);">
	  						<li>
	  							<div class="btn-group">
	  							<a href="/web" class="btn btn-xs btn-noborder">
		  							<i class="icon-home"></i> Dashboard
	  							</a>
	  							</div>
  							</li>
        					{% block breadcrumb %}{% endblock breadcrumb %}
        				</ol>
					</div>
				</div>
			</section>

			<section class="container white">

	        	{% block content %}{% endblock content %}
	        </section>


        </div>


    </body>
</html>
