{{ docType() }}
<html ng-app="ecamp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block meta %}{% endblock meta %}

        {% block title %}
        	<title>eCamp V3</title>
        {% endblock title %}


        <!-- CSS - Files -->
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/bootstrap/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/font-awesome/css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/jqueryui/themes/base/all.css" />

		<link type="text/css" rel="stylesheet" href='{{ request.getBasePath }}/bootstrap-select/css/bootstrap-select.min.css' />
		<link type="text/css" rel="stylesheet" href='{{ request.getBasePath }}/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' />

        <link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/ecamp-web/css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/ecamp-web/css/ajaxLoader.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/ecamp-web/css/searchbox.css" />
		<link type="text/css" rel="stylesheet" href="{{ request.getBasePath }}/ecamp-web/css/default.css" />

        {% block style %}{% endblock style %}


        <!-- Scripts -->
		<script src="{{ request.basePath }}/jquery/jquery.min.js"></script>
		<script src="{{ request.basePath }}/jqueryui/jquery-ui.min.js"></script>
		<script src="{{ request.basePath }}/jquery-autosize/js/jquery.autosize.min.js"></script>

		<script src="{{ request.basePath }}/angular.js/angular.js"></script>
		<script src="{{ request.basePath }}/angular-resource/angular-resource.js"></script>

		<script src="{{ request.basePath }}/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{ request.basePath }}/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script src="{{ request.basePath }}/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

		<script src="{{ request.basePath }}/angular-ui/js/ui-bootstrap-tpls.min.js"></script>

        <!--<script src="{{ request.basePath }}/eldarion-ajax/js/eldarion-ajax-core.js"></script>-->
        <script src="{{ request.basePath }}/js/eldarion-ajax-handlers.js"></script>

		<script src="{{ request.basePath }}/js/ns.js"></script>
		<script src="{{ request.basePath }}/ecamp-web/js/ajax-form.js"></script>
        <script src="{{ request.basePath }}/ecamp-web/js/ajax-form-element.js"></script>
        <script src="{{ request.basePath }}/ecamp-web/js/ajax-members.js"></script>
        <script src="{{ request.basePath }}/ecamp-web/js/ajax-collaborations.js"></script>

        {% block script %}{% endblock script %}


		<!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->

		{{ headScript() }}


		<script type="text/javascript">

			$(function(){

                CNS('ecamp');
                ecamp.initJQueryPlugins = function(root){
                    $(root).find('[data-toggle="tooltip"]').tooltip();
                    $(root).find('[data-toggle="popover"]').popover();
                    $(root).find('.selectpicker').selectpicker();
                    $(root).find('textarea.autosize').autosize();
                };
                ecamp.initJQueryPlugins(document);


                window.setTimeout(function() {
				     $(".alert").fadeTo(500, 0).slideUp(500, function(){
				          $(this).remove();
				     });
				}, 5000);

				//$('select.select2').select2({minimumResultsForSearch: 3});

				var keyQueue = null;
				$("body").keydown(function(event){
					if(event.which == 77){
						keyQueue = 77;
					} else if (keyQueue == 77 && event.which == 65){
						keyQueue = 7765;
					} else if (keyQueue == 7765 && event.which == 80){
						$('body div.transpLayer').addClass('transp');
					} else {
						keyQueue = null;
						$('body div.transpLayer').removeClass('transp');
					}
				});
			});

		</script>

        <script src="{{ request.basePath }}/ecamp-web/js/ng-app.js"></script>
        <script src="{{ request.basePath }}/ecamp-web/js/ng-util.js"></script>
        <script src="{{ request.basePath }}/ecamp-web/js/jq-util.js"></script>

        <script src="{{ request.basePath }}/ecamp-web/js/ng-app/ng-paginator.js"></script>

    </head>
    <body>
    	<div class="bgimage"></div>

    	<!--
    	 <div class="transpLayer">
    	 -->

    	 <div>
    		<section class="container white" style="margin-top: -8px; padding-top: 5px; ">
				<div class="row">
					<div class="col-sm-4 col-sm-push-8 col-md-5 col-md-push-7">
						<div class="row">
							<div class="col-xs-12">
								<div class="btn-group pull-right" style="margin-bottom: 8px">
									<a 	class="btn btn-sm btn-primary"
										href="{{ url('web') }}">
										<i class="fa fa-home"></i> Dashboard
									</a>
									<a 	class="btn btn-sm btn-primary hidden-xs hidden-sm"
										href="#">
										<i class="fa fa-user"></i> Users
									<a class="btn btn-sm btn-primary hidden-xs hidden-sm">
										<i class="fa fa-flag"></i> Groups
									</a>
									<a class="btn btn-sm btn-primary hidden-xs hidden-sm">
										<i class="fa fa-bell"></i> Camps
									</a>

									<a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
										&nbsp;<i class="fa fa-caret-down"></i>&nbsp;
									</a>
									<ul class="dropdown-menu pull-right" role="menu">
									    <li class="hidden-md hidden-lg">
									    	<a href="#"><span class="fa fa-user"></span>&nbsp;&nbsp; Users</a>
									    </li>
									    <li class="hidden-md hidden-lg">
									    	<a href="#"><span class="fa fa-flag"></span>&nbsp;&nbsp; Groups</a>
									    </li>
									    <li class="hidden-md hidden-lg">
									    	<a href="#"><span class="fa fa-bell"></span>&nbsp;&nbsp; Camps</a>
									    </li>
									    <li class="hidden-md hidden-lg divider"></li>

									    <li>
									    	<a href="#">
									    		<span class="fa fa-user"></span>&nbsp;&nbsp; {{ me.getUsername }}
									    	</a>
									    </li>
									    <li>
									    	<a href="#"><span class="fa fa-inbox"></span>&nbsp;&nbsp; Inbox</a>
									    </li>
									    <li>
									    	<a href="#"><span class="fa fa-cog"></span>&nbsp;&nbsp; Options</a>
									    </li>
									    <li class="divider"></li>
									    <li>
									    	<a href="/web/login/logout"><span class="fa fa-off"></span>&nbsp;&nbsp; Abmelden</a>
									    </li>
									</ul>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="search-box pull-right" style="padding-right: 15px;">
								<input type="text" class="typeahead" placeholder="Search" />
							</div>
						</div>

					</div>
					<div class="col-sm-8 col-sm-pull-4 col-md-7 col-md-pull-5">
						{% block header %}{{ header|raw }}{% endblock header %}
					</div>
				</div>

 				<hr style="margin-top: 10px; margin-bottom: 5px;" />

				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb" style="margin-bottom:0px; padding: 0px 5px; background-color: rgba(0,0,0,0);">
	  						<li>
	  							<div class="btn-group">
	  							<a 	href="/web" class="btn btn-xs btn-noborder">
		  							<i class="fa fa-home"></i> Dashboard
	  							</a>
	  							</div>
  							</li>
        					{% block breadcrumb %}{% endblock breadcrumb %}
        				</ol>
					</div>
				</div>
			</section>

			<section class="container white" style="margin-bottom: 200px;">

	        	{% block content %}{% endblock content %}
	        </section>


        </div>

		<div class="modal fade" id="asyncform-container" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
	    		<div class="modal-content">
	    		</div>
	    	</div>
	    </div>

    </body>
</html>
