{% extends 'layout/html.twig' %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/bootstrap/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/fontawesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/jquery-ui/themes/base/jquery.ui.all.css" />

    <link type="text/css" rel="stylesheet" href='{{ request.basePath }}/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' />
    <link type="text/css" rel="stylesheet" href='{{ request.basePath }}/assets/vendor/bootstrap-datepicker/css/datepicker3.css' />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/angular-ui-select/dist/select.css" />

    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/ecamp-web/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/ecamp-web/css/ajaxLoader.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/ecamp-web/css/searchbox.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/ecamp-web/css/default.css" />

    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/web-assets/css/ui-bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/web-assets/css/ng-contextmenu.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/web-assets/picasso/css/picasso.css" />


{% endblock %}

{% block script %}
    <script src="{{ request.basePath }}/assets/vendor/jquery/dist/jquery.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/angular/angular.js"></script>

    <script src="{{ request.basePath }}/assets/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/jquery-autosize/jquery.autosize.min.js"></script>

    <script src="{{ request.basePath }}/assets/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/angular-ui-select/dist/select.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/angular-resource/angular-resource.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/angular-hal/angular-hal.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/angular-ui-slider/src/slider.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/ng-file-upload/angular-file-upload-all.min.js"></script>

    <script src="{{ request.basePath }}/assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="{{ request.basePath }}/assets/vendor/uri.js/src/URI.js"></script>
    <script src="{{ request.basePath }}/assets/vendor/uri.js/src/URITemplate.js"></script>

    <script src="{{ request.basePath }}/js/ns.js"></script>
    <script src="{{ request.basePath }}/core-assets/util/SortedDictionary.js"></script>

    <script src="{{ request.basePath }}/ecamp-web/js/ajax-form.js"></script>
    <script src="{{ request.basePath }}/ecamp-web/js/ajax-form-element.js"></script>
    <script src="{{ request.basePath }}/ecamp-web/js/ajax-members.js"></script>
    <script src="{{ request.basePath }}/ecamp-web/js/ajax-collaborations.js"></script>


    <script src="{{ request.basePath }}/ecamp-web/js/ng-app.js"></script>
    <script src="{{ request.basePath }}/ecamp-web/js/ng-util.js"></script>
    <script src="{{ request.basePath }}/ecamp-web/js/jq-util.js"></script>
    <script src="{{ request.basePath }}/web-assets/js/modal-form.js"></script>
    <script src="{{ request.basePath }}/web-assets/js/remote-data.js"></script>
    <script src="{{ request.basePath }}/web-assets/js/ng-contextmenu.js"></script>

    <script src="{{ request.basePath }}/web-assets/js/event-controller.js"></script>
    <script src="{{ request.basePath }}/web-assets/js/ajax-form-element.js"></script>

    <script src="{{ request.basePath }}/web-assets/entities.js"></script>

    <script src="{{ request.basePath }}/web-assets/picasso/entities.js"></script>
    <script src="{{ request.basePath }}/web-assets/picasso/js/remote-data.js"></script>
    <script src="{{ request.basePath }}/web-assets/picasso/js/picasso-data.js"></script>
    <script src="{{ request.basePath }}/web-assets/picasso/js/picasso-timeline.js"></script>
    <script src="{{ request.basePath }}/web-assets/picasso/js/picasso-event-instance.js"></script>
    <script src="{{ request.basePath }}/web-assets/picasso/js/picasso-event-create.js"></script>
    <script src="{{ request.basePath }}/web-assets/picasso/js/picasso-app.js"></script>

    <script src="{{ request.basePath }}/web-assets/image/image-edit.js"></script>

    <script src="{{ request.basePath }}/web-assets/camp/collaboration.js"></script>
    <script src="{{ request.basePath }}/web-assets/group/membership.js"></script>

    <script src="{{ request.basePath }}/ecamp-web/js/ng-app/ng-paginator.js"></script>

    <script src="{{ request.basePath }}/plugin/material/js/remote-material-data.js"></script>


{% endblock %}

{% block layout %}
    <div class="layout">
        <div class="layout-header">
            {% block layout_header %}
                {% include 'header/main.twig' %}
            {% endblock %}
        </div>
        <div class="layout-body">
            {% block layout_body %}
                <section class="container white {{ layoutBodyClass }}" style="margin-bottom: 0px">
                    {% block content %}{{ content | raw }}{% endblock %}
                </section>
            {% endblock %}
        </div>
    </div>
{% endblock %}
