{% extends 'layout/html.twig' %}

{% block link %}
    {{ parent() }}
    <link href="{{ basePath('/vendor-assets/jquery-ui/css/jquery-ui.css') }}" media="screen" rel="stylesheet" type="text/css">

    <link href="{{ basePath('/vendor-assets/bootstrap/css/bootstrap.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/vendor-assets/fontawesome/css/font-awesome.css') }}" media="screen" rel="stylesheet" type="text/css">

    <link href="{{ basePath('/web-assets/css/bootstrap.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/web-assets/css/default.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/web-assets/css/ng-contextmenu.css') }}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ basePath('/vendor-assets/jquery/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/jquery-ui/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/jquery-ui/js/i18n/jquery.ui.datepicker-de.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/jquery-autosize/js/autosize.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/angular/js/angular.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/vendor-assets/angular-bootstrap/js/ui-bootstrap-tpls.min.js') }}"></script>

    <script type="text/javascript" src="{{ basePath('/web-assets/js/ns.js') }}"></script>
{% endblock %}


{% block layout %}
    <div class="bgimage"></div>

    <div class="layout">
        <div class="layout-header">
            {% block layout_header %}
                {% include 'header/main.twig' %}
            {% endblock %}
        </div>
        <div class="layout-body">
            {% block layout_body %}
                <section class="container white {{ layoutBodyClass }}" style="margin-bottom: 0px">
                    {% block content %}{{ content | raw }}{% endblock %}
                </section>
            {% endblock %}
        </div>
    </div>
{% endblock %}
