{% extends 'layout/html.twig' %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/bootstrap/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/fontawesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/assets/vendor/jquery-ui/themes/base/jquery.ui.all.css" />

    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/ecamp-web/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/ecamp-web/css/default.css" />

    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/web-assets/css/ui-bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ request.basePath }}/web-assets/css/print.css" />

    <style>
    </style>

{% endblock %}

{% block script %}

{% endblock %}

{% block html_body %}
    <body>
        {% block content %}{% endblock content %}
    </body>
{% endblock %}
