<section class="container">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <div class="nav nav-justified btn-group btn-block" role="group">
                <a class="nav-item btn btn-sm btn-outline-secondary"
                   href="{{ url('ecamp.web/user', { user: user }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-info-outline"></i> Info
                </a>
                <a class="nav-item btn btn-sm btn-outline-secondary d-none d-sm-block"
                   href="{{ url('ecamp.web/user/membership', { user: user }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> Groups
                </a>
                <a class="nav-item btn btn-sm btn-outline-secondary d-none d-sm-block"
                   href="{{ url('ecamp.web/user/camps', { user: user }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-labels"></i> Camps
                </a>
                <a class="nav-item btn btn-sm btn-outline-secondary"
                   href="{{ url('ecamp.web/user/friends', { user: user }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> Friends
                </a>

                <a href="#"
                   class="btn btn-sm btn-outline-secondary dropdown-toggle"
                   style="width: 60px"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                >
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item d-block d-sm-none"
                       href="{{ url('ecamp.web/user/membership', { user: user }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> Groups
                    </a>
                    <a class="dropdown-item d-block d-sm-none"
                       href="{{ url('ecamp.web/user/camps', { user: user }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-labels"></i> Camps
                    </a>

                    <div class="dropdown-divider d-block d-sm-none"></div>

                    <a class="dropdown-item"
                       href="{# {{ url('ecamp.web/user/admin', { user: user }) }} #}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-settings"></i> Admin
                    </a>
                </div>
                {#
                #}
            </div>
        </div>
    </div>
</section>