{% extends 'e-camp/web/group.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">
                Camps...
                <br />
                <br />
                <table style="width: 100%" border="1">
                    <tr>
                        <td>Name: </td>
                        <td>{{ group.name }}</td>
                    </tr>
                    <tr>
                        <td>Desc: </td>
                        <td>{{ group.description }}</td>
                    </tr>
                </table>
                <br />
                <table style="width: 100%" border="1">
                    {% for camp in camps %}
                        <tr>
                            <td>
                                <a href="{{ url('ecamp.web/camp', { 'camp': camp }) }}">
                                    {{ camp.name }}
                                </a>
                            </td>
                            <td>
                                {{ camp.title }}
                            </td>
                            <td>
                                {{ camp.motto }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
