{% extends 'ecamp-web/user/user.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Foto
                {% endblock %}
                {% block panel_content %}
                    {% if user.image != null %}
                        <div style="margin-bottom: 15px">
                            <img
                                style="max-height: 185px;"
                                src="{{ url('api/users/image', { 'user': user.id }, { 'query': { 'show': '' } }) }}"
                            />
                        </div>
                    {% else %}
                        <div style="text-align: center">
                            <i class="fa fa-user" style="font-size: 200px"></i>
                        </div>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-sm-6 col-sm-pull-6">
            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Adress
                {% endblock %}
                {% block panel_content %}
                    <div class="col-xs-12">
                        {{ user.firstname }} {{ user.surname }}
                        {% if user.scoutname is not empty %}
                        / {{ user.scoutname }}
                        {% endif %}
                    </div>
                    <div class="col-xs-12">
                        {{ user.street }}
                    </div>
                    <div class="col-xs-12">
                        {{ user.zipcode }} {{ user.city }}
                    </div>
                {% endblock %}
            {% endembed %}

            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Contact
                {% endblock %}
                {% block panel_content %}
                    <div class="col-xs-12">
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </div>
                    <div class="col-xs-12">
                        <a href="tel:{{ user.homeNr }}">{{ user.homeNr }}</a>
                    </div>
                    <div class="col-xs-12">
                        <a href="tel:{{ user.mobileNr }}">{{ user.mobileNr }}</a>
                    </div>
                {% endblock %}
            {% endembed %}

            {% embed "helper/accordion.twig" %}
                {% block panel_title %}
                    Education
                {% endblock %}
                {% block panel_content %}
                    <div class="col-xs-12">
                        {{ user.jsPersNr }}
                    </div>
                    <div class="col-xs-12">
                        {{ user.jsEdu }}
                    </div>
                    <div class="col-xs-12">
                        {{ user.pbsEdu }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
