<li class="item" id="{{ 'item-' ~ item.id }}">
	<div class="row">
		<div class="col-xs-12">
			<div style="border-bottom: 1px #ddd solid; margin: 0px 0px 5px 0px" ></div>
		</div>
	</div>

	<div class="row" name="show">
		<div class="col-sm-3 col-md-2" style="padding-left: 20px;">
			<center>
				<div class="editItem">
					{{ item.getDurationInMinutes() // 60 }}<small>h</small>
					<sup><small>{{ item.getDurationInMinutes() % 60 }}</small></sup>
				</div>
			</center>
		</div>
		<div class="col-sm-6 col-md-7">
			<div class="editItem">
				<pre style="font-family: inherit; background: inherit; border: inherit;">{{ item.text }}</pre>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="editItem">
				{{ item.info }}
			</div>
		{#
		</div>
		<div class="col-sm-2" style="padding-right: 20px;">
			<div class="edit-target">
				<b>a, b</b>
			</div>
		#}
		
			<div style="text-align: right">
				{% include 'plugin/item-actions' with {'pluginName':'storyboard', 'movable':true } %}
			</div>
			
		</div>
	</div>

	<div class="row" name="edit">
		<form method="POST" action="{{
			url('plugin/storyboard/default', {
				'eventPluginId': eventPlugin.id,
				'controller': 'item',
				'action': 'save',
				'id': item.id
			} )}}"
		>
			<div class="col-sm-3 col-md-2">
				<input name="duration_hour" id="{{ 'item-duration-hour-' ~ item.id }}"
					class="form-element nospinner" type="number" min="0" value="{{ item.getDurationInMinutes() // 60 }}"
					style="width: 30px; height: 20px; border-width: 0px 0px 1px 0px; border-style: dotted; border-color: gray; text-align: center; background-color: inherit"
				/>h
				<input name="duration_minute" id="{{ 'item-duration-minute-' ~ item.id }}"
					class="form-element nospinner" type="number" min="0" max="59" value="{{ item.getDurationInMinutes() % 60 }}"
					style="width: 25px; height: 20px; border-width: 0px 0px 1px 0px; border-style: dotted; border-color: gray; text-align: center; background-color: inherit"
				/>min
			</div>
			<div class="col-sm-6 col-md-7">
				<textarea name="section_text" id="{{ 'item-text-' ~ item.id }}"
					class="form-element form-control autosize"
				>{{ item.text }}</textarea>
			</div>
			<div class="col-sm-3">

				<textarea name="section_info" id="{{ 'item-info-' ~ item.id }}"
					class="form-element form-control autosize"
				>{{ item.info }}</textarea>
			{#
			</div>
			<div class="col-sm-2" style="padding-right: 20px; text-align: right">
				<select
					class="form-element selectpicker show-tick"
					multiple title="-"
					data-width="100%"
					name="resp_user_ids[]"
					id="{{ 'item-resp-user-' ~ item.id }}"
				>
					{% for campCollaboration in camp.campCollaboration().getCollaborations() %}
						{% if event.isUserResp(campCollaboration.user) %}
							<option value="{{ campCollaboration.user.id }}" selected="selected">
						{% else %}
							<option value="{{ campCollaboration.user.id }}">
						{% endif %}

							{{ campCollaboration.user.getDisplayName() }}
						</option>

					{% endfor %}
				</select>
			#}
				<div class="pull-right" style="margin-top: 10px">
					<a href="#" class="submit saveItem btn btn-xs btn-success"><i class="fa fa-check"></i> Save</a>
					<a href="#" class="cancel cancelItem btn btn-xs btn-danger"><i class="fa fa-times"></i> Cancel</a>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div style="margin: 5px 0px 0px 0px" ></div>
		</div>
	</div>
</li>
