{% embed "helper/paginationContainer.twig" %}
    {% block listEmpty %}
        <p align="center">No upcoming camps</p>
    {% endblock %}
    {% block list %}
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Motto</th>
                    <th>Dauer</th>
                    <th>Optionen</th>
                </tr>
                </thead>
                <tbody>
                {% for camp in paginator %}
                    <tr>
                        <td>
                            <i class="fa fa-bell"></i>
                            <a href="{{ url('web/group-prefix/name+camp', { 'group': group, 'camp': camp }) }}">
                                {{ camp.getName }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url('web/group-prefix/name+camp', { 'group': group, 'camp': camp }) }}">
                                {{ camp.getTitle }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url('web/group-prefix/name+camp', { 'group': group, 'camp': camp }) }}">
                                {{ camp.getMotto }}
                            </a>
                        </td>
                        <td>
                            {{ camp.range }}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endembed %}
