{% extends 'e-camp/web/group.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">
                Group...
                <br />
                <br />
                <table style="width: 100%" border="1">
                    <tr>
                        <td>Name: </td>
                        <td>{{ group.name }}</td>
                    </tr>
                    <tr>
                        <td>Desc: </td>
                        <td>{{ group.description }}</td>
                    </tr>
                </table>
                <br />
                <table style="width: 100%" border="1">
                    {% for child in group.children %}
                        <tr>
                            <td>
                                <a href="{{ url('ecamp.web/group', { 'group': child }) }}">
                                    {{ child.name }}
                                </a>
                                <br />
                                {{ child.description }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
