{{ docType() }}
<html>
    <head>
        <meta charset="utf-8" />

        {% block meta %}{% endblock meta %}
        {{ headMeta() }}

        {% do headTitle().setSeparator(' - ') %}
        {% block setTitle %}{% do headTitle('eCamp3') %}{% endblock %}
        {% block title %}{{ headTitle() }}{% endblock title %}

        {% block link %}{% endblock %}
        {{ headLink() }}

        {% block script %}{% endblock %}
        {{ headScript() }}

        {{ headStyle() }}
    </head>

    {% block html %}
    <body>
        {% block body %}{% endblock %}
    </body>
    {% endblock %}
</html>
