{% extends 'e-camp/web-layout/html5.bootstrap.twig' %}

{% block body %}
    <div class="bgimage"></div>

    <div class="layout">
        <div class="layout-header">
            {% block layout_header %}
                {% include 'e-camp/web-header/main.twig' %}
            {% endblock %}
        </div>
        <div class="layout-body">
            {% block layout_body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block link %}
    {{ parent() }}
    {% if asset('main.css') is not empty %}
        <link href="{{ asset('main.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block bodyScript %}
    {{ parent() }}
    {% if asset('webpack-hot-reload') is not empty %}
    <script src="{{ asset('webpack-hot-reload') }}" type="text/javascript"></script>
    {% endif %}
    <script src="{{ asset('main.js') }}" type="text/javascript"></script>
{% endblock %}
