{% extends 'e-camp/web-layout/html5.bootstrap.twig' %}

{% block body %}
    <div class="bgimage"></div>

    <div class="layout">
        <div class="layout-header">
            {% block layout_header %}
                {% include 'e-camp/web-header/main.twig' %}
            {% endblock %}
        </div>
        <div class="layout-body">
            {% block layout_body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block link %}
    {{ parent() }}
    {{ includeStyleIfPresent('main.css') }}
{% endblock %}

{% block bodyScript %}
    {{ parent() }}
    {{ includeScriptIfPresent('webpack-hot-reload') }}
    {{ includeScriptIfPresent('main.js', 'No generated JavaScript Assets from Webpack found. Please run the following command inside the module/eCampWeb/vue folder:<pre>npm install && npm run dev</pre>') }}
{% endblock %}
