<tabbed-plugin-container
    name="{{ plugin.name }}"
    min-items="{{ eventTypePlugin.minNumberPluginInstances }}"
    max-items="{{ eventTypePlugin.maxNumberPluginInstances }}"
    create="{{ url('web/plugin-create', { 'eventId': event.id, 'pluginId': plugin.id }) }}"
    delete="{{ url('web/plugin-delete', { 'eventPluginId': '' }) }}"
>
    <div class="tabbable" ng-show="EventPlugins.length > 0">
        <ul class="nav nav-tabs">
            <div ng-show="CountEventPlugin < MaxEventPlugin" class="btn-group pull-right" style="margin-right: 5px;">
                <button class="btn btn-xs btn-success" ng-click="Create()" style="margin-top:3px; height: 25px; padding: 2px 8px">
                    <i class="fa fa-plus"></i> Add Plugin
                </button>
            </div>

            <li ng-repeat="eventPlugin in EventPlugins">
                <a data-toggle="tab" href="#{% verbatim %}{{ eventPlugin.id }}{% endverbatim %}">
                    <span ng-bind="eventPlugin.name"></span>

                    <button
                        href="#"
                        ng-show="CountEventPlugin > MinEventPlugin"
                        ng-click="Delete(eventPlugin.id)"
                        class="deleteEventPlugin"
                    >
                        <i class="fa fa-times-circle-o" style="margin-left: 5px;"></i>
                    </button>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            {% for childViewModel in childViewModels %}
                {% RenderViewModel childViewModel %}
            {% endfor %}
        </div>
    </div>
</tabbed-plugin-container>
