{% extends 'layout/layout.default.twig' %}

{% block content %}

	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<table style="width: 100%">
						<tr>
							<td>
								<h2>Camps ({{ camps|length }})</h2>
							</td>
							<td style="vertical-align: bottom; padding-bottom: 7px;">
								<div class="btn-group pull-right" >
									<div class="btn btn-sm btn-primary pull-right dropdown-toggle" data-toggle="dropdown">
										Create new Camp &nbsp;
							    		<span class="caret"></span>
									</div>
		  							<ul class="dropdown-menu pull-right" role="menu">
										<li>
                                            <a
                                                class="btn-link"
                                                data-toggle="modal"
                                                data-target="#asyncform-container"
                                                href="{{ url('web/default', { 'controller':'camp', 'action': 'create' }) }}"
                                            >
											    <span class="fa fa-plus"></span>
											    &nbsp;Neues Lager
										    </a>
                                        </li>
										<li><a href="#">
											<span class="fa fa-plus"></span>
											&nbsp;Neuen Kurs
										</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<table class="table table-hover">
				<colgroup>
			       <col span="1" style="width: 1%;">
			       <col span="1" style="width: 35%;">
			       <col span="1" style="width: auto;">
			       <col span="1" style="width: 30%;">
			    </colgroup>
				<tbody>
					{% for camp in camps %}
						<tr>
							<td><span class="fa fa-bell"></span></td>
							<td><a href="{{ campUrl(camp) }}">{{ camp.getTitle }}</a></td>
							<td>
                                {% if camp.belongsToUser %}
                                    <i class="fa fa-user"></i>
                                    <a href="{{ userUrl(camp.owner) }}">
                                        {{ camp.owner.displayName }}
                                    </a>
                                {% else %}
                                    <i class="fa fa-flag"></i>
                                    <a href="{{ groupUrl(camp.owner) }}">
                                        {{ camp.owner.displayName }}
                                    </a>
                                {% endif %}
							</td>
							<td>
								<div class="hidden-sm hidden-xs">{{ camp.getRange }}</div>
								<div class="hidden-md hidden-lg">{{ camp.getRange }}</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<hr />

			<table>
				<tr>
					<td><h2>News (?)</h2></td>
				</tr>
			</table>
			<hr />
		</div>

		<div class="col-sm-6">
			<table>
				<tr>
					<td><h2>Groups ({{ groupMemberships|length }})</h2></td>
				</tr>
			</table>
			<table class="table table-hover">
				<colgroup>
			       <col span="1" style="width: 1%;">
			       <col span="1" style="width: 40%;">
			       <col span="1" style="width: auto;">
			       <col span="1" style="width: 60px;">
			    </colgroup>
				<tbody>
					{% for groupMembership in groupMemberships %}
						<tr>
							<td><span class="fa fa-flag"></span></td>
							<td>
								<a href="{{ groupUrl(groupMembership.getGroup) }}">
									{{ groupMembership.getGroup.getDescription }}
								</a>
							</td>
							<td>
								<div class="hidden-xs hidden-sm">Du bist {{ groupMembership.getRole }}</div>
								<div class="hidden-md hidden-lg">{{ groupMembership.getRole }}</div>
							</td>
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<hr />

			<table>
				<tr>
					<td><h2>Friends ({{friendships|length}})</h2></td>
				</tr>
			</table>
			<table class="table table-hover">
				<colgroup>
			       <col span="1" style="width: 1%;">
			       <col span="1" style="width: 40%;">
			       <col span="1" style="width: auto;">
			       <col span="1" style="width: 60px;">
			    </colgroup>
				<tbody>
					{% for friendship in friendships %}
						<tr>
							<td><span class="fa fa-user"></span></td>
							<td>{{ friendship.getTo.getDisplayName }}</td>
							<td>
								<b class="label label-success" style="font-size: 12px;">?? Online ??</b>&nbsp;
							</td>
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<table>
				<tr>
					<td>
						<h4 class="	">
					    	Open Requests
					    	({{ friendshipRequests|length }})
					    </h4>
					</td>
				</tr>
			</table>
			<table class="table table-hover">
				<colgroup>
			       <col span="1" style="width: 1%;">
			       <col span="1" style="width: 40%;">
			       <col span="1" style="width: auto;">
			       <col span="1" style="width: 100px;">
			    </colgroup>
				<tbody>
					{% for friendshipRequest in friendshipRequests %}
						<tr>
							<td><i class="fa fa-user"></i></td>
							<td>{{ friendshipRequest.getTo.getDisplayName }}</td>
							<td><b class="label label-danger" style="font-size: 12px;">?? Offline ??</b>&nbsp;</td>
							<td>
								<div class="pull-right">
									<a href="#"><i class="fa fa-ok fa fa-green" data-toggle="tooltip" data-placement="bottom" data-original-title="Annehmen"></i></a>
									<a href="#"><i class="fa fa-remove fa fa-red" data-toggle="tooltip" data-placement="bottom" data-original-title="Ablehnen"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<hr />

		</div>
	</div>

{% endblock content %}
