{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block meta %}{% endblock meta %}
        
        {% block title %}
        	<title>ZF2 {{ translate('Skeleton Application') }}</title>
        {% endblock title %}

        <!-- Le styles -->
        <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        {% block style %}{% endblock style %}

        <!-- Scripts -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->
        {% block script %}{% endblock script %}

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ url('home') }}">{{ translate('Skeleton Application') }}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{{ url('home') }}">{{ translate('Home') }}</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
        	{% block content %}{{ content|raw }}{% endblock content %}
        	
            <hr>
            <footer>
                <p>&copy; 2005 - 2012 by Zend Technologies Ltd. {{ translate('All rights reserved.') }}</p>
            </footer>
        </div> <!-- /container -->
        {% block inline %}{% endblock inline %}
    </body>
</html>
