{% extends 'ecamp-web/camp/camp.twig' %}


{% block content %}

	<div class="row">
		<div class="col-sm-12">
			{% if flashMessenger().hasErrorMessages() %}
			  <div class="alert alert-danger fade in">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
				{{ flashMessenger().render('error') | raw }}
			  </div>
			{% endif %}
			{% if flashMessenger().hasSuccessMessages() %}
			  <div class="alert alert-success fade in">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
			    {{ flashMessenger().render('success') | raw }}
			  </div>
			{% endif %}
			{% if flashMessenger().hasMessages() %}
			  <div class="alert alert-info fade in">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
				{{ flashMessenger().render() | raw }}
			  </div>
			{% endif %}
        </div>

        <div class="col-sm-7">
			{% embed "helper/accordion.twig" with { 'id': 'camp-infos' } %}
				{% block panel_title %}
					Infos
				{% endblock %}
				{% block panel_content %}

                    <form class="form-horizontal form-show" role="form">
                        <div class="form-group has-feedback ajax-form-element orig"
                             data-backend="{{ url('api/camps', {'camp': camp.id } ) }}"
                        >
                            <label class="col-sm-3 control-label" for="camp-name">Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ camp.name }}</p>
                            </div>
                        </div>

                        <div class="form-group has-feedback ajax-form-element orig"
                             data-backend="{{ url('api/camps', {'camp': camp.id } ) }}"
                        >
                            <label class="col-sm-3 control-label" for="camp-title">Title:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="camp-title" name="title" value="{{ camp.title }}">
                                <span class="form-control-feedback feedback-container"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback ajax-form-element orig"
                             data-backend="{{ url('api/camps', {'camp': camp.id } ) }}"
                        >
                            <label class="col-sm-3 control-label" for="camp-motto">Motto:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="camp-motto" name="motto" value="{{ camp.motto }}">
                                <span class="form-control-feedback feedback-container"></span>
                            </div>
                        </div>

                    </form>

				{% endblock %}
			{% endembed %}
        </div>

        <div class="col-sm-5">
            {% embed "helper/accordion.twig" with { 'id': 'my-collaboration' } %}
                {% block panel_title %}
                    My collaboration
                {% endblock %}
                {% block panel_content %}
                    <div style="margin-bottom: 10px">
                        <camp-collaboration-operation show-desc="true" camp="{{ camp.id }}" user="{{ me.id }}" />
                    </div>

                    {#{{ collaborationDesc(camp) }}#}
{#
                    <div class="pull-right">
                        <p>
                            {{ collaboration(camp, 'sm') }}
                        </p>
                    </div>
#}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
			{% embed "helper/accordion.twig" with { 'id': 'periods' } %}
				{% block panel_title %}
					Periods
				{% endblock %}
                {% block panel_heading %}
                    <div class="pull-right">
                        <button type="button"
                                class="btn btn-xs btn-primary"
                                data-toggle="modal"
                                data-target="#asyncform-container"
                                href="{{ url('web/camp/default', {'camp': camp, 'controller':'period', 'action' : 'addPeriod' } ) }}"
                                >+ Add Period</button>
                    </div>
                {% endblock %}
				{% block panel_content %}
					{#
                    <div class="col-sm-12">
					#}


						<table class="table table-striped table-hover" style="width: 100%">
							<thead>
								<tr>
									<th>Start</th>
									<th>End</th>
									<th>Description</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
							{% for period in camp.getPeriods %}
								<tr>
									<td>{{ period.getStart | date }}</td>
									<td>{{ period.getEnd | date}}</td>
									<td>{{ period.getDescription }}</td>
									<td>
										<a
											class="btn btn-xs btn-primary"
											data-toggle="modal"
											data-target="#asyncform-container"
											href="{{ url('web/camp/default',
												{'camp': camp, 'controller':'period', 'action' : 'editPeriod' },
												{ 'query': { 'periodId': period.id } }
												) }}"
										>
											Edit
										</a>
										{#
                                        <a 	href="{{ url('web/camp/default',
												{ 'camp': camp, 'controller': 'period', 'action': 'deletePeriod' },
												{ 'query' : { 'periodId': period.id } }
												) }}"
											class="btn btn-xs btn-danger"
										>
											Delete
										</a>
										#}
                                        <a class="btn btn-xs btn-danger"
                                           data-toggle="modal"
                                           href="#deletePeriod{{ period.id }}Modal"
                                        >
                                            Delete
                                        </a>

                                        <div class="modal fade" id="deletePeriod{{ period.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="deletePeriod{{ period.id }}ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Delete Period</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Are you sure, you want to delete this period? "{{ period.description }}"?
                                                        </p>
                                                        <table>
                                                            <tr>
                                                                <td><b>Description:</b> </td>
                                                                <td> {{ period.description }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Date: </b></td>
                                                                <td> {{ period.start|date() }} - {{ period.end|date() }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a 	href="{{ url('web/camp/default',
                                                            { 'camp': camp, 'controller': 'period', 'action': 'deletePeriod' },
                                                            { 'query' : { 'periodId': period.id } }
                                                            ) }}"
                                                              class="btn btn-danger"
                                                        >
                                                            Delete
                                                        </a>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

                    {#
					</div>
                    #}
				{% endblock %}
			{% endembed %}
		</div>
	</div>
{% endblock %}
