<section class="container">
    <div class="row">
        <div class="col-md-5 col order-2">
            <div class="btn-group float-right" style="margin-top: 7px">
                <a class="btn btn-sm btn-primary" href="{{ url('ecamp.web') }}">
                    <i class="zmdi zmdi-hc-fw zmdi-home"></i> Dashboard
                </a>
                <a 	class="btn btn-sm btn-primary d-none d-md-block" href="{{ url('ecamp.web') }}">
                    <i class="zmdi zmdi-hc-fw zmdi-account"></i> Users
                </a>
                <a class="btn btn-sm btn-primary d-none d-md-block" href="{{ url('ecamp.web/groups') }}">
                    <i class="zmdi zmdi-hc-fw zmdi-flag"></i> Groups
                </a>
                <a class="btn btn-sm btn-primary d-none d-md-block" href="{{ url('ecamp.web/camps') }}">
                    <i class="zmdi zmdi-hc-fw zmdi-labels"></i> Camps
                </a>

                <div class="btn-group">
                    <button type="button"
                            class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a class="dropdown-item d-block d-md-none" href="{{ url('ecamp.web') }}">
                            <i class="zmdi zmdi-hc-fw zmdi-account"></i> Users
                        </a>
                        <a class="dropdown-item d-block d-md-none" href="{{ url('ecamp.web/groups') }}">
                            <i class="zmdi zmdi-hc-fw zmdi-flag"></i> Groups
                        </a>
                        <a class="dropdown-item d-block d-md-none" href="{{ url('ecamp.web/camps') }}">
                            <i class="zmdi zmdi-hc-fw zmdi-labels"></i> Camps
                        </a>

                        <div class="dropdown-divider d-block d-md-none"></div>

                        {% if authUser is defined %}
                            <a class="dropdown-item" href="{{ url('ecamp.web', {'userId': authUser.id }) }}">
                                <i class="zmdi zmdi-hc-fw zmdi-account"></i> {{ authUser.displayName }}
                            </a>
                        {% endif %}

                        <a class="dropdown-item" href="#">
                            <i class="zmdi zmdi-hc-fw zmdi-settings"></i> Options
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{{ url('ecamp.web/login', { 'action': 'logout' }) }}">
                            <i class="zmdi zmdi-hc-fw zmdi-power"></i> Logout
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-7 col order-1" style="z-index: -1">
            <div class="ecamp-header-icon">
                {% block header_icon %}
                    <table border="0" style="width: 100%; border: 0;">
                        <tr>
                            <td width="1" style="padding-right: 10px;">
                                <i class="zmdi zmdi-hc-fw zmdi-hc-3x zmdi-labels"></i>
                            </td>
                            <td style="padding-top: 3px; padding-bottom: 5px">
                                <h1>eCamp</h1>
                            </td>
                        </tr>
                    </table>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: inherit; padding: 0 0; margin-bottom: 0;">
                    {% block breadcrumb %}
                        <li class="breadcrumb-item">
                            <a href="{{ url('ecamp.web') }}"><i class="zmdi zmdi-home"></i></a>
                        </li>
                    {% endblock %}
                </ol>
            </nav>
        </div>
    </div>

    <hr style="margin-top: 5px; margin-bottom: 15px;" />
</section>
