{% extends 'header/base.twig' %}

{% block header_icon %}
    <table border="0" style="width: 100%; border: 0px;">
        <tr>
            <td width="120px">
                <img width="100" class="img-rounded" src="https://cdn3.iconfinder.com/data/icons/outdoor-and-camping-icons/512/Tent-256.png" >
            </td>
            <td>
                <h1>{{ camp.getName }}</h1>
                <p>
                    {{ camp.getTitle }}
                </p>
            </td>
        </tr>
    </table>
{% endblock %}


{% block breadcrumb %}
    {% if camp.belongsToUser  %}
        <li>
            <a class="btn btn-xs btn-noborder" href="{{ url('web/user-prefix/name', {'user' : camp.getOwner.getId } ) }}">
                <i class="fa fa-user"></i> {{ camp.getOwner.username }}
            </a>
        </li>
    {% else %}
        {%  for item in camp.getOwner.getPathAsArray(true) %}
            <li>
                <a class="btn btn-xs btn-noborder" href="{{ url('web/group-prefix/name', {'group' : item.getId } ) }}">
                    <i class="fa fa-flag"></i> {{ item.name }}
                </a>
            </li>
        {% endfor %}
    {% endif %}

    <li class="active">
        <a class="btn btn-xs btn-noborder" href="{{ url('web/camp/default', { 'camp': camp }) }}">
            <i class="fa fa-bell"></i> {{ camp.name }}
        </a>
    </li>
{% endblock %}
