{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
<section class="container">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <div class="nav nav-justified btn-group btn-block" role="group">
                <a class="nav-item btn btn-sm btn-outline-secondary"
                   style=""
                   href="{{ url('ecamp.web/camp', { camp: camp }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-labels"></i> Info
                </a>

                <a class="nav-item btn btn-sm btn-outline-secondary d-none d-sm-block"
                   href="{{ url('ecamp.web/camp/collaborators', { camp: camp }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> Collaborators
                    {% set countCollaborationRequests = campInfo(camp.id).countCollaborationRequests %}
                    {% if countCollaborationRequests > 0 %}
                        &nbsp;<span class="badge badge-success">{{ countCollaborationRequests }}</span>
                    {% endif %}
                </a>

                <a class="nav-item btn btn-sm btn-outline-secondary"
                   href="{{ url('ecamp.web/camp/periods', { camp: camp }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-calendar-alt"></i> Periods
                </a>

                <a class="nav-item btn btn-sm btn-outline-secondary d-none d-sm-block"
                   href="{{ url('ecamp.web/camp/picasso', { camp: camp }) }}"
                >
                    <i class="zmdi zmdi-hc-fw zmdi-grid"></i> Picasso
                </a>

                <a href="#"
                   class="btn btn-sm btn-outline-secondary dropdown-toggle"
                   style="width: 60px"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                ></a>
                <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item d-block d-sm-none"
                       href="{{ url('ecamp.web/camp/collaborators', { camp: camp }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-accounts"></i> Collaborators
                        {% set countCollaborationRequests = campInfo(camp.id).countCollaborationRequests %}
                        {% if countCollaborationRequests > 0 %}
                            &nbsp;<span class="badge badge-success">{{ countCollaborationRequests }}</span>
                        {% endif %}
                    </a>

                    <a class="dropdown-item d-block d-sm-none"
                       href="{{ url('ecamp.web/camp/picasso', { camp: camp }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-grid"></i> Picasso
                    </a>

                    <a class="dropdown-item"
                       href="{{ url('ecamp.web/camp/tasks', { camp: camp }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-assignment-o"></i> Aufgaben
                    </a>

                    <a class="dropdown-item"
                       href="{{ url('ecamp.web/camp/print', { camp: camp }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-print"></i> Print
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item"
                       href="{{ url('ecamp.web/camp/settings', { camp: camp }) }}"
                    >
                        <i class="zmdi zmdi-hc-fw zmdi-settings"></i> Settings
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="app"></div>

</section>

{% endblock %}


{% block bodyScript %}
    {{ parent() }}
    {{ includeScriptIfPresent('campDetails.js', 'No generated JavaScript Assets from Webpack found. Please run the following command inside the module/eCampWeb/vue folder:<pre>npm install && npm run dev</pre>') }}
{% endblock %}
