{% extends 'layout/default.twig' %}

{% block header %}
	<table border="0" style="width: 100%; border: 0px;">
		<tr>
			<td width="120px">
				<img width="100" class="img-rounded" src="https://cdn3.iconfinder.com/data/icons/outdoor-and-camping-icons/512/Tent-256.png" >
			</td>
			<td>
				<h1>{{ camp.getName }}</h1>
				<p>
					{{ camp.getTitle }}
				</p>
			</td>
		</tr>
	</table>

{% endblock header %}

{% block content %}

	<div class="row">
		<div class="col-sm-2">
			<ul class="nav nav-pills nav-stacked">
			  <li class="{{ controller == 'Index' ? 'active' : '' }}">
			  	<a href="{{ url('web/group-prefix/name+camp', { 'group': camp.getGroup, 'camp': camp }) }}">
			  		Info
			  	</a>
			  </li>
			  <li class="{{ controller == 'Collaborations' ? 'active' : '' }}">
			  	<a href="{{ url('web/group-prefix/name+camp/default', { 'group': camp.getGroup, 'camp': camp, 'controller': 'Collaborations' }) }}">
			  		People
			  	</a>
			  </li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			      Programm <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			      <li><a href="#">Grobprogramm</a></li>
			      <li><a href="#">Tages&uuml;bersicht</a></li>
			    </ul>
			  </li>
			  <li>
			  	<a href="#">Material</a>
			  </li>
			  <li>
			  	<a href="#">Print</a>
			  </li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			      Kurs <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			      <li><a href="#">Ausbildungsziele</a></li>
			      <li><a href="#">J+S Checklisten</a></li>
			    </ul>
			  </li>
			</ul>
		</div>
		<div class="col-sm-10">
			{% block content2 %}{{ content2|raw }}{% endblock content2 %}
		</div>
	</div>
{% endblock content %}

{% block breadcrumb %}

	  {% if camp.belongsToUser  %}
	  	<li><a class="btn btn-xs btn-noborder" href="{{ url('web/user-prefix/name', {'user' : camp.getOwner.getId } ) }}">{{ camp.getOwner.getName }}</a></li>
	  {% else %}
	  	{%  for item in camp.getGroup.getPathAsArray(true) %}
	  		<li><a class="btn btn-xs btn-noborder" href="{{ url('web/group-prefix/name', {'group' : item.getId } ) }}">{{ item.getDescription }}</a></li>
	  	{% endfor %}
	  {% endif %}

	  <li class="active"><a class="btn btn-xs btn-noborder disabled" href="#">{{ camp.getName }}</a></li>

	  <!--
	  <li>
		<div class="btn-group">
	    	<a href="#" class="btn btn-xs btn-noborder dropdown-toggle" data-toggle="dropdown">
	    		<i class="icon-flag"></i> PBS
	    	</a>
			<ul class="dropdown-menu" role="menu">
			    <li><a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; PBS</a></li>
			    <li class="divider"></li>
			    <li><a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; Jubla</a></li>
			</ul>
	   	</div>
      </li>
	  <li>
		<div class="btn-group">
			<a href="#" class="btn btn-xs btn-noborder dropdown-toggle" data-toggle="dropdown">
				<i class="icon-flag"></i> Pfadi Luzern
			</a>

			<ul class="dropdown-menu " role="menu">
			    <li><a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; Pfadi Luzern</a></li>
			    <li class="divider"></li>
			    <li><a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; Pfadi Basel</a></li>
			    <li><a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; Pfadi Zürich</a></li>
			    <li style="text-align: center;"><a href="#"><i class="icon-caret-down"></i></a></li>
			</ul>
        </div>
      </li>

	  <li>
		<div class="btn-group">
	    	<a href="#" class="btn btn-xs btn-noborder dropdown-toggle" data-toggle="dropdown">
	    		<i class="icon-bell"></i> PBS LU 211-11
	    	</a>

			<ul class="dropdown-menu" role="menu">
			    <li><a href="#"><span class="icon-bell"></span>&nbsp;&nbsp; PBS LU 211-11</a></li>
			    <li class="divider"></li>
			    <li><a href="#"><span class="icon-bell"></span>&nbsp;&nbsp; PBS LU 212-11</a></li>
			    <li><a href="#"><span class="icon-bell"></span>&nbsp;&nbsp; PBS LU 221-11</a></li>
   			    <li class="divider"></li>
			    <li><a href="#"><span class="icon-bell"></span>&nbsp;&nbsp; Alle ...</a></li>
   			</ul>
        </div>
      </li> -->
{% endblock breadcrumb %}
